<div class="form">
  <div class="form__content">
    <div>
      <h2 class="form__title">{{title}}</h2>
      <form class="form__body" style="margin-bottom: {{bodyMarginBottom}}">
        {{{inputs}}}
      </form>
    </div>
    <div class="form__footer">
      <div class="form__footer-button">
        {{{button}}}
      </div>
      <div class="form__footer-link">
        {{{footerLink}}}
      </div>
    </div>
  </div>
</div>